# Include important documentation files
include README.md
include LICENSE
include requirements.txt
include docs/index.md
include docs/installation.md
include docs/usage.md

# Include everything in the docs/ folder
recursive-include docs *

# Include everything in the examples/ folder
recursive-include examples *

# Include all test files
recursive-include tests *

# Include all files in the nebulaPy package
recursive-include nebulaPy *

# Exclude any unwanted files
exclude *.pyc
exclude __pycache__/
exclude .gitignore
